# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: galves-d <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/02/14 15:53:39 by galves-d          #+#    #+#              #
#    Updated: 2020/02/29 22:59:14 by galves-d         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

pft_2019
42TESTERS-PRINTF
output.dSYM/Contents/Info.plist
*.swp
*.swo
*.o
*.a
a.out
output
pft_2019/
